[package]
name = "app"
version = "0.1.0"
edition = "2021"

[dependencies]
egui = "0.33.3"
eframe = { version = "0.33.3", default-features = false, features = [
    "default_fonts",
    "wgpu",
] }
engine = { version = "0.1.0", path = "../engine" }
media = { version = "0.1.0", path = "../media" }
env_logger = "0.11"
egui-wgpu = "0.33.3"
thiserror = "2"
rfd = "0.17.2"