[package]
name = "app"
version = "0.1.0"
edition = "2021"

[dependencies]
engine = { version = "0.1.0", path = "../engine" }
thiserror = "2"
util = { version = "0.1.0", path = "../util" }
anyhow = "1.0"